<tr>
    <td>{{ article.title }}</td>
    <td>{{ article.description }}</td>
    <td>{{ article.published }}</td>

    <td>
        {% if not article.published %}
        <button class="btn btn-xs btn-accent" id="publish-button" data-article-id="{{ article.pk }}">Publish [AJAX]</button>
        <button 
            class="btn btn-xs btn-accent"
            id="htmx-button"
            hx-post="{% url 'home:publish-article' article.pk %}"
            hx-target="closest tr"
            hx-swap="outerHTML">
        Publish [HTMX]
        </button>
        {% endif %}
    </td>
</tr>